<form (submit)="guardarCambios()" [formGroup]="form">
  
  <mat-form-field appearance="outline">
    <mat-label>Titulo</mat-label>
    <input formControlName="titulo" matInput/>
    <mat-error *ngIf="form.invalid"></mat-error>
  </mat-form-field>

  <div class="contenedor-checkbox">
    <mat-checkbox formControlName="enCines">En cines</mat-checkbox>
  </div>
  

  <mat-form-field appearance="outline">
    <mat-label>Trailer</mat-label>
    <input formControlName="trailer" matInput/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Fecha de lanzamiento</mat-label>
    <input formControlName=fechaLanzamiento matInput [matDatepicker]="picker"/>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <h4>Seleccionar poster</h4>
  <app-input-img></app-input-img>

  <h4>Resumen de la pelicula</h4>
  <app-input-markdown
    [contenidoMarkDown]="modelo?.resumen"
    (changeMarkDown)="changeMarkDown($event)"
    [placeHolderTextArea]="'Resumen'"
  ></app-input-markdown>

  <div>
    <button mat-flat-button color="primary" [disabled]="form.invalid">Guardar cambios</button>
    <a mat-stroked-button routerLink="/">Cancelar</a>
  </div>

</form>