<app-listado-generico [listado]="peliculas">
  <ng-container vacio>
    <div>Mensaje personalizado <b>vacio</b></div>
  </ng-container>
  <ng-container contenido>
    <div *ngFor="let pelicula of peliculas; let index = index" [ngClass]="'pelicula-contenedor'">
      <div>
        {{index+1}}. Pelicula: {{pelicula.titulo | uppercase}}
        <button style="margin-left: 1rem;" (click)="removeMovie(index)">Remove</button>
      </div>
      <div>
        Fecha de estreno: {{pelicula.fechaEstreno | date: 'dd/MMMM/yyyy' | uppercase}}
      </div>
      <div>
        Precio: {{pelicula.precio | currency}}
      </div>
    </div>
  </ng-container>
</app-listado-generico>

