<div class="contenedor">
  <ul>
    <li *ngFor="let item of noSeleccionados; let index = index" 
    (click)="seleccionar(item, index)">{{item.valor}}</li>
  </ul>
  <div class="div-botones">
    <button type="button" (click)="seleccionarTodo()">
      <mat-icon>keyboard_double_arrow_right</mat-icon>
    </button>
    <button type="button" (click)="deseleccionarTodo()">
      <mat-icon>keyboard_double_arrow_left</mat-icon>
    </button>
  </div>
  <ul>
    <li *ngFor="let item of seleccionados; let index = index" 
    (click)="deseleccionar(item, index)">{{item.valor}}</li>
  </ul>
</div>